.yellow {
    color:gold;
    text-decoration: none;
}
#blue{
    color:blue;
    font-family:arial;
    font-size: 13px;
}
#title{
    color:teal;
}
body{
    background-color: teal;
}
#pic{
    max-width:50%;
    max-height:50%;
}
#sixdegrees{
    max-width: 65%;
    max-height: 65%;
}
.tabs {
    width:100%;
    display:inline-block;
}
#table-font{
    color:black;
}
.hrline {
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #337ab7;
}

/*----- Content of Tabs -----*/

.tab {
    display:none;
}

.tab.active {
    display:block;
}
#title1{
    text-align: center;
}
#about{
    font-size: larger;
}
.projects{
    font-size: larger;
}
.bold{
    font-weight:bold;
}
.underline{
    text-decoration: underline;
}
#headercolor{
    color:#337ab7;
    text-align: center;
}



